name: Stream List CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    env:
      CTEST_OUTPUT_ON_FAILURE: 1

    steps:

    - uses: actions/checkout@v2

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake $GITHUB_WORKSPACE -DBUILD_WITH_SANITIZERS=TRUE -DCMAKE_C_FLAGS:STRING="-DSRTP_NO_STREAM_LIST -DSRTP_USE_TEST_STREAM_LIST"

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . -t srtp_driver

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: ctest -R srtp_driver
